<div class="col-lg-3 col-md-6 dark_widget">
  <h3 class="f-title f_600 t_color f_size_18 mb_40">{{ 'Stay in touch'|t }}</h3>
	<div class="f_widget dark_widget company_widget wow fadeInUp" data-wow-delay="0.2s">
		<div class="f_social_icon_two">
			{% if facebook %}
			<a href="{{ facebook }}" class="ti-facebook"></a>
			{% endif %}
			{% if twitter %}
			<a href="{{ twitter }}" class="ti-twitter-alt"></a>
			{% endif %}
			{% if instagram %}
			<a href="{{ instagram }}" class="ti-instagram"></a>
			{% endif %}
			{% if youtube %}
			<a href="{{ youtube }}" class="ti-youtube"></a>
			{% endif %}
			{% if linkedin %}
			<a href="{{ linkedin }}" class="ti-linkedin"></a>
			{% endif %}
		</div>
	</div>
</div>
