
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="login_info">
        <div class="form-group text_box">
          <label class="f_p text_c f_400">{{ 'User Name'|t }}</label>
          {{ form.name|without('#title', '#description') }}
        </div>
        <div class="form-group text_box">
          <label class="f_p text_c f_400">{{ 'Password'|t }}</label>
          {{ form.pass|without('#title', '#description') }}
        </div>
        <div class="extra">
          <div class="forgotten-password">
            <a href="{{ drupal_url('/user/password') }}">
              {{ 'Forgot Password?'|t }}
            </a>
            <p>
              {{ 'New user?'|t }}
              <a class="login-link" href="{{ drupal_url('user/register') }}">
                {{ 'Signup'|t }}
              </a>
            </p>
          </div>
        </div>
        {{ form|without('actions', 'name', 'pass') }}
        {{ form.actions }}
      </div>
    </div>
  </div>
